/* CSS for adding content example */


body{
background-color: rgb(240, 240, 240);

}

h1 {
color:DimGrey;
font-family: Courier New;
  }

  h3 {

  font-family: Courier New;
    }

#tabella{
border: 1px solid;
text-align: center;
}

#ese{

    font-family: Courier New;
}

a{
color: black;
text-decoration: none;

}



tr:hover {background-color: Azure;}

#piede{
text-align: right;
  font-family:Copperplate;

}
